@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Sistema de Gestão de Clientes </h1>
    <br />
    <br />
    <br />
    <p>Aqui você terá a disposição um WebApp para consumo de uma Api com ações de Inclusão, Busca, Edição e Exclusão de dados</p>
    <p>de clientes fictícios registrados em um Banco de Dados Relacional - SQL Server.</p>
    <br />
    <p>Este humilde projeto está sendo implementado com o objeto de aprender, praticar e aprofundar os conceitos de C# e plataforma .NET.</p>
    <br />

</div>
