@model WebAppGestor.Models.Cliente

@{
    ViewData["Title"] = "EditCliente";
}

<h1>EditCliente</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <input asp-for="ClienteId" class="form-control" />
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteNome" class="control-label"></label>
                <input asp-for="ClienteNome" class="form-control" />
                <span asp-validation-for="ClienteNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ClienteAtivo" /> @Html.DisplayNameFor(model => model.ClienteAtivo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ContatoId" class="control-label"></label>
                <input asp-for="ContatoId" class="form-control" />
                <span asp-validation-for="ContatoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoId" class="control-label"></label>
                <input asp-for="EnderecoId" class="form-control" />
                <span asp-validation-for="EnderecoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
